
<nav class="barra-navegacao">
    <h1 class="logo">APMSILVER</h1>

    <div class="caixa-de-botoes">
        <a href="" class="botao-selecionado">Inicio</a>
        <a id="lk_relatorio" href="/relatorios">Relatórios</a>
        <a id="lk_membros" href="/membros">Membros</a>
        <a id="lk_pqcontribuir" href="/por-que-contribuir">Por que contribuir?</a>
    </div>
    <a id="lk_login" href="/login">Entrar</a>
</nav>