<a id="lk_login" href="/login">Login</a>
<nav>
    
    <a href="/">
        <img class="logo-silver" src="assets\img\logo_mega_blaster_linhares.png" draggable="false">
        <img id="logo-ermelinda" src="assets/img/etec_ermelinda_giannini_teixeira.png" draggable="false">
    </a>
    
    <div class="caixa-de-botoes">
        <div class="aplicador-margem">
        <a id="lk_relatorio" href="/relatorios">Relatórios</a>
        <a id="lk_membros" class="aceso" href="/membros">Membros</a>
        <a id="lk_pqcontribuir" href="/por-que-contribuir">Por que contribuir?</a>
        </div>
    </div>
</nav>