<nav>
    <a href="/">
        <img id="logo-ermelinda" src="assets/img/etec_ermelinda_giannini_teixeira.png" draggable="false">
    </a>
    
    <div class="caixa-de-botoes">
        <a href="/login">Login - ADM</a>
        <a href="/relatorios">Relatórios</a>
        <a href="/membros">Membros</a>
        <a href="">Gerar relatórios</a>
    </div>
</nav>