<footer>
    <h3>Etec Profª Ermelinda<br>Giannini Teixeira</h3>
    <p>R. Fernão Dias Falcão 196 -<br> Centro, Santana de Parnaíba -<br>SP, 06501-120</p>
    <div style="margin-top: -128px; margin-left: 220px;" class="divisoria-footer"></div>
    <div class="tel">
        <h3>Telefone:</h3>
        <p>(11) 4154-7142</p>
    </div>
    <div style="margin-top: -128px; margin-left: 360px;" class="divisoria-footer"></div>
    <div class="hora-func">
        <h3>Horário de<br>funcionamento:</h3>
        <p>7h às 22h</p>
    </div>
    <div style="margin-top: -128px; margin-left: 520px;" class="divisoria-footer"></div>
    <div class="redes-socias">
        <a href="https://web.facebook.com/ErmelindaOficial/?_rdc=1&_rdr#" target="_blank"><img src="assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/etec_ermelindaofc/" target="_blank"><img src="assets/img/instagram.png"></a>
        <a href="" target="_blank"><img style="width: 50px; margin-top: -5px; position: absolute;" src="assets/img/whatsapp.png"></a>
    </div>
    <p>© 2002/2024 - Centro Paula Souza - Todos os direitos reservados. <br>Para mais informações sobre como os seus dados pessoais são tratados em nosso site acesse nossa <a href="">Política de Privacidade</a>.</p>
</footer>