<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilo-top.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
    <%- include('../partials/barra-navegacao-adm.ejs') %>
    
    <!--INICIO DO CONTEÚDO DA PÁGINA-->
    <div class="exportacao-relatorio">
        <h1>Exportando Relatório...</h1>
        <p>Isto pode demorar alguns minutos.</p>
    </div>
    <!--FIM DO CONTEÚDO-->

    <%- include('../partials/footer.ejs') %>
</body>