<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilo-top.css">
    <link rel="shortcut icon" href="/assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
        
        <%- include('../partials/barra-navegacao-adm.ejs') %>
        <span id="session" hidden><%=chave%></span>
        
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        
        <div class="instituicoes-container">
            <h2>Instituições</h2>
            <a href="/dashboard/instituicoes/adicionar">adicionar</a>
            <table border=1 class="tabela-instituicoes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody id="alvo-instituicoes">
                    <tr id="aviso-nada">
                        <th>Não há nenhuma Instituição cadastrada no momento.</th>
                    </tr>
                </tbody>
            </table>
            <p>*O ID não necessáriamente representa a ordem em que as instituições foram cadastradas.</p>
        </div>
        
        <script src="/assets\js\carregador_de_instituicoes.js"></script>
        <script src="/assets/js/excluidor_de_instituicoes.js"></script>
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>