<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>

<body>
    <% if (logado) { %>
        <%- include('../partials/barra-navegacao-adm.ejs') %>
            <% } else { %>
                <%- include('../partials/barra-navegacao.ejs') %>
                    <% } %>
                    
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <div class="caixa-membros">
            <div class="diretoria-executiva">
                <h1 class="titulo-categoria">Diretoria Executiva:</h1>
                <div class="caixa-membro">
                    <h1>Diretor:</h1>
                    <p>Bruno Santos Nascimento</p>
                </div>
                <div class="caixa-membro">
                    <h1>Vice-diretora Executiva:</h1>
                    <p>Maria Ângela Teodoro</p>
                </div>
            </div>

            <div class="diretoria-financeira">
                <h1 class="titulo-categoria">Diretoria Financeira</h1>
                <div class="caixa-membro">
                    <h1>Diretora:</h1>
                    <p>Magali Aparecida Dias</p>
                </div>
                <div class="caixa-membro">
                    <h1>Vice-diretor financeiro:</h1>
                    <p>José Antônio Labella</p>
                </div>
            </div>

            <div class="secretarios">
                
                <h1 class="titulo-categoria">Diretoria Cultural Esportiva e Social:</h1>
                <div class="caixa-membro">
                    <h1>Diretor:</h1>
                    <p>Tiago Almeida Helmer</p>
                </div>
                <div class="caixa-membro">
                    <h1>Suplente:</h1>
                    <p>Matheus Xavier Da Silva</p>
                </div>
                
            </div>
            <div class="diretoria-patrimonio">
                <h1 class="titulo-categoria">Diretoria de Patrimônio:</h1>
                <div class="caixa-membro">
                    <h1>Diretora:</h1>
                    <p>Sheila Silva Souza De Oliveira</p>
                </div>
                <div class="caixa-membro">
                    <h1 class="titulo-categoria">Suplente:</h1>
                    <p>Allana Pessi Santos</p>
                </div>
                <h1 class="titulo-categoria">Conselho Fiscal:</h1>
                <div class="caixa-membro">
                    <p>Denise Silva Inglês</p>
                </div>
                <h1 class="titulo-categoria">Secretário:</h1>
                <div class="caixa-membro">
                    <p>Hércules Da Costa Pinto</p>
                </div>
            </div>
            
        </div>
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>