<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
    
        <%- include('../partials/barra-navegacao.ejs') %>
        
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <div class="caixa-politica-privacidade">
            <h1>Política de Privacidade</h1>
            <p></p>
        </div>
        
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>