<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
    <% if (logado) { %>
        <%- include('../partials/barra-navegacao-adm.ejs') %>
            <% } else { %>
                <%- include('../partials/barra-navegacao.ejs') %>
                    <% } %>

        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <h1 class="titulo-pq-contriubir">Por que contribuir?</h1>
        <div class="porque-contribuir">
            <ol type="1">
                <li>Melhoria do Ensino: Recursos para infraestrutura e materiais didáticos.</li>
                <li>Apoio a Projetos: Financia atividades complementares e eventos.</li>
                <li>Fortalecimento da Comunidade: Aproxima pais, alunos e escola.</li>
                <li>Cidadania: Incentiva responsabilidade e colaboração.</li>
                <li>Suporte à Escola: Ajuda em necessidades urgentes.</li>
                <li>Participação nas Decisões: Dá voz aos pais na escola.</li>
                <li>Segurança e Bem-Estar: Investimento em um ambiente escolar mais seguro.</li>
                <li>Apoio a Estudantes em Situação de Vulnerabilidade: Auxílio financeiro a alunos que precisam.</li>
                <li>Promoção de Eventos e Confraternizações: Fortalece o laço social entre a comunidade escolar.</li>
                <li>Valorização dos Professores: Apoio para capacitações e homenagens ao corpo docente.</li>
                <li>Transparência e Prestação de Contas: Participação ativa garante o bom uso dos recursos.</li>
            </ol>
        </div>

        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>