<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilo-top.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>

<body>
    <% if (logado) { %>
        <%- include('../partials/barra-navegacao-adm.ejs') %>
            <% } else { %>
                <%- include('../partials/barra-navegacao.ejs') %>
                    <% } %>


                        <!--INICIO DO CONTEÚDO DA PÁGINA-->

                        <!-- Template oculto -->

                        <a id="meta-template" class="lk_not" style="display: none;">
                            <div class="noticia">
                                <p class="titulo-noticia" id="lbl_titulo">Carregando...</p>
                                <p class="time-stamp-noticia" id="sts_met">Há 2025 anos atrás</p>
                            </div>
                        </a>

                        <div class="caixa-vertudo-not">
                            <h1 class="titulo-vertudo">Metas</h1>
                            <hr>
                            <div class="container-noticiabox" id="container-metas">
                                <p id="aviso-nada">Não nenhuma meta cadastrada no sistema...</p>
                            </div>
                        </div>

                        <script src="/assets/js/vertudo_meta.js"></script>
                        <!--FIM DO CONTEÚDO-->

                        <%- include('../partials/footer.ejs') %>
</body>