<div class="balao-cookies">
    <header>Isto é importante!</header>
    <p>Nós utilizamos cookies para melhorar sua experiência no site. Se você quiser saber detalhadamente como utilizamos seus dados, leia nossa <a href="">Política de privacidade</a> </p>
    <button>Ok</button>
</div>