<footer>
    <div class="conteudo-footer">
        <h3>Etec Profª Ermelinda<br>Giannini Teixeira</h3>
        <a class="atalho-endereco" href="https://www.google.com/maps/place/R.+Fern%C3%A3o+Dias+Falc%C3%A3o,+196+-+Centro,+Santana+de+Parna%C3%ADba+-+SP,+06501-120/@-23.4473745,-46.918431,19z/data=!4m6!3m5!1s0x94cf1b4928e8d909:0x892106a0cf9423f4!8m2!3d-23.447723!4d-46.9178936!16s%2Fg%2F11gcqw88qs?entry=ttu&g_ep=EgoyMDI1MDQxMy4wIKXMDSoJLDEwMjExNjM5SAFQAw%3D%3D" target="_blank">R. Fernão Dias Falcão 196 -<br> Centro, Santana de Parnaíba -<br>SP, 06501-120</a>
        <div style="margin-top: -128px; margin-left: 250px;" class="divisoria-footer"></div>
        <div class="tel">
            <h3>Telefone:</h3>
            <p>(11) 4154-7142</p>
        </div>
        <div style="margin-top: -128px; margin-left: 390px;" class="divisoria-footer"></div>
        <div class="hora-func">
            <h3>Horário de<br>funcionamento:</h3>
            <p>7h às 22h <br>
        </div>
        <div style="margin-top: -128px; margin-left: 590px;" class="divisoria-footer"></div>
        <div class="redes-socias">
            <a href="https://web.facebook.com/ErmelindaOficial/?_rdc=1&_rdr#" target="_blank"><img
                    src="assets/img/facebook.png"></a>
            <a href="https://www.instagram.com/etec_ermelindaofc/" target="_blank"><img
                    src="assets/img/instagram.png"></a>
            <a href="" target="_blank"><img style="width: 50px; margin-top: -5px; position: absolute;"
                    src="assets/img/whatsapp.png"></a>
        </div>
        <p style="text-align: center; margin-top: 20px;">©<span id="ano"></span> Etec Ermelinda Giannini Teixeira - Todos os direitos reservados. <br>Para mais
            informações sobre como utilizamos seus dados pessoais em nosso site acesse nossa <a class="link"
                href="/politica-de-privacidade">Política de Privacidade</a>.</p>
    </div>

    <script>
        const rotuloAno = document.getElementById("ano");

        let ano = new Date().getFullYear();
        rotuloAno.innerText = ano
    </script>
</footer>