<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body style="overflow: hidden;">

    <div class="caixa-central">
        
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <div class="caixa-404">
            <h1 class="lbl-erro">Erro</h1>
            <h1 class="lbl-404">404</h1>
            <p>Página não encontrada!</p>
            <img class="divisoria" src="assets/img/divisoria-decorativa.png">
            <img src="assets/img/dexter.png" width="280">
        </div>
        <!--FIM DO CONTEÚDO-->
        
    </div>
</body>