<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
    
        <%- include('../partials/barra-navegacao.ejs') %>
        
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <div class="balao-pix" id="pix">
            <h1>Pix:</h1>
            <p>11961748831</p>
            <button onclick="document.getElementById('pix').remove()">X</button>
        </div>

        <div class="container">
            <div class="explicacao-sobre-apm">
                <h1>Associação de Pais e Mestres (APM)</h1>
                <img class="divisoria-decorativa" src="assets/img/divisoria-decorativa.png" draggable="false">
                <p class="explicacao">A Associação de Pais e Mestres (APM) da Escola Técnica Estadual (Etec) Profª Ermelinda Giannini Teixeira , é um meio de participação ativa da comunidade na gestão escolar. Ela contribui para o alcance dos objetivos educacionais da escola e atua como representante das demandas e interesses da comunidade, dos pais e dos responsáveis pelos alunos.</p>
            </div>
    
            <div class="caixa-metas-noticias">
                <h1>Metas:</h1>
                <ul>
                    <li><a id="lbl_meta1" href="">Carregando...</a></li>
                    <li><a id="lbl_meta2" href="">Carregando...</a></li>
                    <li><a id="lbl_meta3" href="">Carregando...</a></li>
                </ul>
                <h1>Notícias:</h1>
                <ul>
                    <li><a id="lbl_noticia1" href="">Carregando...</a></li>
                    <li><a id="lbl_noticia2" href="">Carregando...</a></li>
                    <li><a id="lbl_noticia3" href="">Carregando...</a></li>
                </ul>
            </div>
        </div>
        <script src="assets/js/carregador_de_noticias.js"></script>
        <script src="assets/js/carregador_de_metas.js"></script>
        
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>