<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
        <%- include('../partials/barra-navegacao.ejs') %>
        <!--INICIO DO CONTEÚDO DA PÁGINA-->

        <div class="caixa-central">
            <form class="caixa-login" action="/login" method="post">
                <h1>Entre para continuar</h1>
                <label>E-Mail:</label>
                <br>
               <input type="email" name="email" required>
                <br>
                <label>Senha:</label>
                <br>
                <input type="password" name="password" id="caixa-pwd" required>
                <br>
                <br>
                
                <button type="submit">Entrar</button>
                <button type="button">Modo Visitante</button>
            </form>
        </div>

        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>