<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/centro_paula_souza.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
    <div class="caixa-central">
        <%- include('../partials/barra-navegacao.ejs') %>

        <!--INICIO DO CONTEÚDO DA PÁGINA-->

        <div class="caixa-central">
            <form class="caixa-login">
                <h1>Login</h1>
                <hr color="#AA2323">
                <label>E-Mail:</label>
                <br>
               <input type="email" name="eml" required>
                <br>
                <label>Senha:</label>
                <br>
                <input type="password" name="pwd" id="caixa-pwd" required>
                <br>
                <br>
                <button>Modo Visitante</button>
                <button>Efetuar Login</button>
            </form>
        </div>

        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
    </div>
</body>