<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Offline</title>
</head>
<body>
    <div class="caixa-central">


        <!--INICIO DO CONTEÚDO DA PÁGINA-->

        <div class="manutencao" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <h1>Estaremos de volta em breve!</h1>
            <p>Lamentamos o inconveniente. Nosso site está passando por uma manutenção programada. Por gentileza, tente novamente mais tarde.</p>
            <p>~Equipe Apm Silver</p>
        </div>

        <!--FIM DO CONTEÚDO-->

    </div>
</body>