<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Offline</title>
</head>
<body style="overflow: hidden; background-color: rgb(37, 37, 37);">



        <!--INICIO DO CONTEÚDO DA PÁGINA-->

        <div class="manutencao" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <h1>Fora de Serviço</h1>
            <p>O APM Silver está passando por uma manutenção programada e voltará a funcionar normalmente em algumas horas. Pedimos desculpas por qualquer inconveniente.</p>
            <p>~Equipe Silver</p>
        </div>

        <!--FIM DO CONTEÚDO-->


</body>