<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/estilo-top.css">
    <link rel="shortcut icon" href="assets/img/centro_paula_souza.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>
<body>
    <div class="caixa-central">
        <%- include('../partials/barra-navegacao.ejs') %>

        <!--INICIO DO CONTEÚDO DA PÁGINA-->

        <div class="caixa-relatorios">
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Janeiro</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Fevereiro</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Março</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Abril</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Maio</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Junho</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Julho</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Agosto</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Setembro</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Outubro</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Novembro</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
            <a href="/relatorios/relateste" class="thumbnail-relatorio">
                <h1>Dezembro</h1>
                <img src="assets/img/exemplo_relatorio.png" height="150">
            </a>
        </div>

        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
    </div>
</body>